*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #101010;
    background-color: #fff;
}
#wrapper{
    margin: 0 10%;
}
header{
    height: 100px;
    border-bottom: 4px solid #34ce57;
    margin-bottom: 20px;
}
header #logo {
    width: 200px;
    margin-top: 10px;
}
nav{
    float: right;
    margin-top: 75px;
}
header nav ul li{
    margin-left: 15px;
    display: inline;
}
header nav ul li a{
    text-decoration: none;
    color: #0d3625;
}
header nav ul li a:hover{
    color: black;
}
#content{
    width: 70%;
    float: left;
    min-height: 350px;
}
#right{
    width: 28%;
    float: right;
    min-height: 350px;
    border-left: 4px solid #34ce57;
}
footer{
    border-top: 4px solid #34ce57;
    height: 50px;
    clear: both;
    margin-top: 20px;
}